
/* ini adalah cssnya container digunakan untuk boxnya */

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  /* kalauu ini adalah cssnya form-group digunakan untuk formnya */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* kalauu ini adalah cssnya label digunakan untuk labelnya */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* kalauu ini adalah cssnya inputan tipe text, email, date, select, textarea, tel, dan file */
  input[type="text"],
  input[type="email"],
  input[type="date"],
  select,
  textarea,
  input[type="tel"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* kalauu ini adalah cssnya button digunakan untuk buttonnya */
  button {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto 0;
  }
  
  /* kalauu ini adalah cssnya button:hover digunakan untuk buttonnya */
  button:hover {
    background-color: #45a049;
  }
  
  /* kalauu ini adalah cssnya #output digunakan untuk tampilan outputnya */
  #output {
    margin-top: 20px;
  }
  
  /* kalauu ini adalah cssnya img digunakan untuk gambar */
  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  